{% extends 'base.html.twig' %}

{% block title %}Личный кабинет учителя{% endblock %}

{% block body %}
<h2>Личный кабинет учителя</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Дисциплины</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for discipline in disciplines %}
            <tr>
                <td>{{ discipline.name }}</td>
                <td>
                    <a href="{{ path('teacher_discipline_details', { id: discipline.id }) }}" class="btn btn-sm btn-info">Подробнее</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2" class="text-center">Дисциплины не найдены.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
